name: Node.js CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v3 # Ensure this is updated to v3
      with:
        node-version: '20.x' # Ensure this specifies Node.js 20
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
